<!DOCTYPE html>
<html lang="en">
	<head>	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="header">
		</div>

		<div id="main_content" style="margin-right: 50px; margin-left: 50px;">
 			<h1 style="text-align: center;">I am the Wizard Online</h1>
        		{% if user.is_authenticated %}
                		<div class="alert alert-success" role="alert">
                        		<h3 style="text-align: center;">Welcome to my castle {{ user.username }} </h3>
                		</div>
                		<hr>
                		<div style="text-align: right;">
                			<a href="{% url 'logout' %}">Logout</a>&nbsp;
                		</div>
        		{% else %}
                		<div style="text-align: center;">
                        		<h3>Welcome to my castle. Login if you dare</h3>
                		</div>
                		<hr>
                		<div style="text-align: right;">
                        		<a href="{% url 'login' %}">Login</a>&nbsp;
                        		<a href="{% url 'register' %}">Register<a>&nbsp;<br>
                		</div>
        		{% endif %}
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
		</div>

	</body>
</html>

