{% extends "base.html" %}

{% block page_content %}
	<h1 style="text-align: center;">I am the Wizard Online</h1>
	{% if user.is_authenticated %}
		<div class="alert alert-success" role="alert">
			<h3 style="text-align: center;">Welcome to my castle {{ user.username }} </h3>
		</div>
		<hr>
		<div style="text-align: right;">
		<a href="{% url 'logout' %}">Logout</a>&nbsp;
		</div>
	{% else %}
		<div style="text-align: center;">
			<h3>Welcome to my castle. Login if you dare</h3>
		</div>
		<hr>
		<div style="text-align: right;">
			<a href="{% url 'login' %}">Login</a>&nbsp;
			<a href="{% url 'register' %}">Register<a>&nbsp;<br>
		</div>
	{% endif %}

{% endblock %}
